<div class="container">
    <div class="row">
        <div class="col-md-12">
            <VideoSearch></VideoSearch>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="wrapper">
                <section>
                    Video
                </section>
                <section>
                    Video Details
                </section>
                <section>
                    Comments
                </section>
            </div>
        </div>
        <div class="col-md-4">
            <div class="wrapper">
                <section>
                    Video List
                </section>
            </div>
        </div>
    </div>
</div>