<div class="container">
  <div class="row">
      <VideoSearch></VideoSearch>
  </div>
    <div class="row">
        <div class="col-md-8">
            <section>
                Video
            </section>
            <section>
                Video Details
            </section>
            <section>
                Comments
            </section>
        </div>
        <div class="col-md-4">
            <section>
                Video List
            </section>
        </div>
    </div>
</div>